body {
    margin: 0px;
}

.mapboxgl-popup {
    max-width: 400px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.attributes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0.5vh;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    background-color: #0070be;
    color: white;
    height: 7vh;
    padding: 1.75vh 0 0.75vh 0;
}

#map {
    width: 99vw; 
    height: 89vh;
    margin: 1vh 0.5vw 1vh 0.5vw;
}

a {
    color: white;
    text-decoration: none;
}

@media screen and (min-width: 1000px) {
    .attributes {
        font-size: 90%;
        margin-bottom: 0.25vh;
    }
    .footer {
        height: 7.75vh;
        padding: 2.25vh 0 0.75vh 0;
    
    }
    #map {
        height: 88vh;
    }
}

@media screen and (max-width: 600px) {
    .attributes {
        font-size: 20%;
    }
}